<head>
    <title>树洞#{{discussion.pk}}</title>
</head>
<body>
    树洞#{{ discussion.pk }}
    <!-- {{ discussion.tag }} -->
    {{ discussion.date_created }}
    {% for post in posts %}
        <p> {{ post.username }}{{ post.date_created }}</p>
            {% if post.reply_to %}
            回复：{{ post.reply_to.username}}{{ post.reply_to.date_created }}<br>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;“{{ post.reply_to.content}}”<br>
            {% endif %}
        <p>{{ post.content }}</p>
        <p><a href="{% url 'hole:reply_post' discussion.pk post.pk %}" target="_self">回复</a></p>
        <br>
    {% endfor %}
    <a href="{% url 'hole:create_post' discussion.pk %}" target="_self">发表回复</a>

    {% if previous_page %}
        <a href="{% url 'hole:discussion_page' discussion.pk previous_page %}" target="_self">上一页</a>
    {% endif %}
    <a href="{% url 'hole:index' %}" target="_self">首页</a>
    {% if next_page %}
        <a href="{% url 'hole:discussion_page' discussion.pk next_page %}" target="_self">下一页</a>
    {% endif %}

</body>