<head>
    <title>登录</title>
</head>
<body>
    <form action='' method='POST'>
        {% csrf_token %}
        <table>
            <tr>
                <td><label>用户名：</td>
                <td><input type="text" name="username" maxlength="191" required autocomplete="username"> </td></label>
            </tr>
            <tr>
                <td><label>密码： </td>
                <td><input type="password" name="password" maxlength="191" minlength="8" required autocomplete="new-password"> </td></label>
            </tr>
            <tr>
                <td><input type="submit" value="登录"> </td>
            </tr>
        </table>
    </form>
    <a href="{% url 'hole:register' %}" target="_self">注册</a>
</body>